# Docker compose orquestador ubicado en la raiz del proyecto.
# docker-compose.yaml to start both frontend and backend services in local development mode in a single network
services:
  frontend:
    container_name: ${NEXT_CONTAINER_NAME}  # Assign a custom container name from the NEXT_CONTAINER_NAME environment variable
    image: ${ECR_FRONTEND_URI}:${IMAGE_TAG}  # Tag and name of the Docker image to build or use

    environment:
      - NODE_ENV=${NODE_ENV}  # Set the environment variable inside the container (used by Next.js)
      - PORT=${NEXT_PORT}  # Set the port Next.js will listen on inside the container
      - BACKEND_URL=${BACKEND_URL}
    env_file:
      - ../env/${ENV_FILE_NAME} # Load additional environment variables from the specified .env file
    command: ${FRONTEND_START_COMMAND}  # Command to run the application (e.g., npm run dev or npm start)
    depends_on:
      - backend
    networks:
      - jorge-network

  backend:
    container_name: ${NEST_CONTAINER_NAME}  # Assign a custom container name from the NEXT_CONTAINER_NAME environment variable
    env_file:
      - ../env/${ENV_FILE_NAME}  # Load additional environment variables from the specified .env file
    image: ${ECR_BACKEND_URI}:${IMAGE_TAG}  # Tag and name of the Docker image to build or use
    environment:
      - NODE_ENV=${NODE_ENV}  # Set the environment variable inside the container (used by Next.js)
      - PORT=${NEST_PORT}  # Set the port Next.js will listen on inside the container
    command: ${BACKEND_START_COMMAND}  # Command to run the application (e.g., npm run dev or npm start)
    networks:
      - jorge-network

networks:
  jorge-network:
    name: jorge-network
    driver: bridge