# ------------------------------
# Container and Image Configuration
# ------------------------------

# Name of the Docker container for the Next.js application (ci-server environment)
NEXT_CONTAINER_NAME=jorge-portfolio-frontend-app-ci-server-container

# Docker image name and tag for the Next.js application
IMAGE_NAME=jorge-portfolio-frontend-app-ci-server-image:latest

# Path to the .env file (used for reference in scripts or logs)
ENV_FILE_NAME=dev/ci.env

# ------------------------------
# Environment Settings
# ------------------------------

# Node environment (set to 'production' for optimized build and performance)
NODE_ENV="production"

# Whether to install Playwright and its system dependencies (not needed in production)
INSTALL_PLAYWRIGHT=false

# Whether to include dev dependencies when installing npm packages (false for production environments)
INSTALL_DEV_LIBRARIES=false

# ------------------------------
# Next.js Port Configuration
# ------------------------------

# Internal port on which the Next.js app runs inside the container
NEXT_PORT=4000

# ------------------------------
# Start Command
# ------------------------------

# Command to start the Next.js app in server production mode
START_COMMAND="npm start"

# ------------------------------------
# DEV CI SECRET FILE (ENV_VARS_DEV_CI)
# ------------------------------------

# NEXT_CONTAINER_NAME=jorge-portfolio-frontend-app-dev-ci-container
# IMAGE_NAME=jorge-portfolio-frontend-app-dev-ci-image:latest
# ENV_FILE_NAME=dev/ci.env
# NODE_ENV="production"
# INSTALL_PLAYWRIGHT=true
# INSTALL_DEV_LIBRARIES=false
# NEXT_PORT=4000
# START_COMMAND="npm start"