name: CD-Workflow

on:
  workflow_call:
    inputs:
      deploy_branch:
        required: true
        type: string
    secrets:
      # DEV environment
      SERVER_SSH_KEY_DEV:      { required: true }
      ENV_VARS_DEV_CD:         { required: true }
      # QA environment
      SERVER_SSH_KEY_QA:       { required: true }
      ENV_VARS_QA_CD:          { required: true }
      # MAIN environment
      SERVER_SSH_KEY_MAIN:     { required: true }
      ENV_VARS_MAIN_CD:        { required: true }

      AWS_ACCESS_KEY_ID:       { required: true }
      AWS_SECRET_ACCESS_KEY:   { required: true }

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-east-1

      - name: Login to Amazon ECR
        run: |
          aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 051826703576.dkr.ecr.us-east-1.amazonaws.com

      - name: Set environment variables
        run: |
          echo "DEPLOY_BRANCH=${{ inputs.deploy_branch }}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV

          if [[ "${{ inputs.deploy_branch }}" == "dev" ]]; then
            echo -e "${{ secrets.ENV_VARS_DEV_CD }}" > cd.env
          elif [[ "${{ inputs.deploy_branch }}" == "qa" ]]; then
            echo -e "${{ secrets.ENV_VARS_QA_CD }}" > cd.env
          elif [[ "${{ inputs.deploy_branch }}" == "main" ]]; then
            echo -e "${{ secrets.ENV_VARS_MAIN_CD }}" > cd.env
          fi

          source cd.env
          echo "ECR_BACKEND_URI=$ECR_BACKEND_URI" >> $GITHUB_ENV
          echo "ECR_FRONTEND_URI=$ECR_FRONTEND_URI" >> $GITHUB_ENV

      - name: Build & push backend image
        run: |
          set -a
          source cd.env
          set +a

          TARGET_BACKEND="${{ env.DEPLOY_BRANCH }}-cd-build-push-backend"
          make $TARGET_BACKEND SHA=${{ github.sha }} ECR_URI=$ECR_BACKEND_URI NODE_ENV=$NODE_ENV

      - name: Build & push frontend image
        run: |
          set -a
          source cd.env
          set +a
          TARGET_FRONTEND="${DEPLOY_BRANCH}-cd-build-push-frontend"
          make $TARGET_FRONTEND SHA=${{ github.sha }} ECR_URI=$ECR_FRONTEND_URI \
            BACKEND_URL=$BACKEND_URL \
            NEXT_PUBLIC_ASSETS_URL=$NEXT_PUBLIC_ASSETS_URL \
            NEXT_PUBLIC_RECAPTCHA_SITE_KEY=$NEXT_PUBLIC_RECAPTCHA_SITE_KEY \
            NEXT_PUBLIC_RECAPTCHA_SECRET_KEY=$NEXT_PUBLIC_RECAPTCHA_SECRET_KEY \
            NEXT_PUBLIC_GA_ID=$NEXT_PUBLIC_GA_ID \
            NEXT_PUBLIC_INTERNAL_API_KEY=$NEXT_PUBLIC_INTERNAL_API_KEY \
            NEXT_PUBLIC_ENABLE_ANALYTICS=$NEXT_PUBLIC_ENABLE_ANALYTICS \
            NODE_ENV=$NODE_ENV \
            INSTALL_PLAYWRIGHT=$INSTALL_PLAYWRIGHT \
            INSTALL_DEV_LIBRARIES=$INSTALL_DEV_LIBRARIES

      - name: Extract server SSH info
        run: |
          if [[ "${{ inputs.deploy_branch }}" == "dev" ]]; then
            echo "${{ secrets.ENV_VARS_DEV_CD }}" > env.temp
          elif [[ "${{ inputs.deploy_branch }}" == "qa" ]]; then
            echo "${{ secrets.ENV_VARS_QA_CD }}" > env.temp
          elif [[ "${{ inputs.deploy_branch }}" == "main" ]]; then
            echo "${{ secrets.ENV_VARS_MAIN_CD }}" > env.temp
          fi

          # Extrae SERVER_IP y SERVER_USER y los exporta para GH Actions
          export $(grep -E '^(SERVER_IP|SERVER_USER)=' env.temp | xargs)
          echo "SERVER_IP=$SERVER_IP" >> $GITHUB_ENV
          echo "SERVER_USER=$SERVER_USER" >> $GITHUB_ENV

      - name: Deploy to server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ env.SERVER_IP }}
          username: ${{ env.SERVER_USER }}
          key: ${{ inputs.deploy_branch == 'dev' && secrets.SERVER_SSH_KEY_DEV || 
                  inputs.deploy_branch == 'qa' && secrets.SERVER_SSH_KEY_QA || 
                  inputs.deploy_branch == 'main' && secrets.SERVER_SSH_KEY_MAIN }}
          port: 22
          script: |
            DEPLOY_BRANCH="${{ inputs.deploy_branch }}"

            cd /var/www/jorge-portfolio
            git fetch origin
            git reset --hard origin/$DEPLOY_BRANCH

            mkdir -p env/$DEPLOY_BRANCH
            echo -e "${{ 
              inputs.deploy_branch == 'dev' && secrets.ENV_VARS_DEV_CD || 
              inputs.deploy_branch == 'qa' && secrets.ENV_VARS_QA_CD || 
              inputs.deploy_branch == 'main' && secrets.ENV_VARS_MAIN_CD 
            }}" > env/$DEPLOY_BRANCH/cd.env

            set -a
            source env/$DEPLOY_BRANCH/cd.env
            set +a

            echo "Logging into ECR"
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 051826703576.dkr.ecr.us-east-1.amazonaws.com

            echo "Using image tag: $IMAGE_TAG"
            export IMAGE_TAG=${{ github.sha }}

            echo "Pull latest images"
            docker-compose -f docker/docker-compose-server.yaml pull

            echo "Start containers"
            make ${DEPLOY_BRANCH}-cd-up

            echo "Cleaning old docker images"
            docker image prune -f