name: CI-CD Workflow

# Trigger workflow on push events to specified branches
on:
  push:
    branches:
      - dev           # Run workflow on pushes to the 'dev' branch
      - qa            # Run workflow on pushes to the 'qa' branch
      - main          # Run workflow on pushes to the 'main' branch (production)
      - feature/**    # Run workflow on pushes to any 'feature/*' branch

jobs:
  # Job for running the Continuous Integration pipeline
  call-ci:
    uses: ./.github/workflows/ci-global.yaml   # Reuse CI workflow defined in a separate file
    secrets:
      # Environment variables and secrets for feature branches
      ENV_VARS_FEATURE_CI: ${{ secrets.ENV_VARS_FEATURE_CI }}
      # Environment variables and secrets for dev branch
      ENV_VARS_DEV_CI: ${{ secrets.ENV_VARS_DEV_CI }}
      # Environment variables and secrets for qa branch
      ENV_VARS_QA_CI: ${{ secrets.ENV_VARS_QA_CI }}
      # Environment variables and secrets for main branch
      ENV_VARS_MAIN_CI: ${{ secrets.ENV_VARS_MAIN_CI }}

  # Job for running the Continuous Deployment pipeline
  call-cd:
    needs: call-ci   # This job depends on the successful completion of 'call-ci'
    if: ${{ github.ref == 'refs/heads/dev' || github.ref == 'refs/heads/qa' || github.ref == 'refs/heads/main' }}  # Run only on dev, qa, or main branches
    uses: ./.github/workflows/cd-global.yaml   # Reuse CD workflow defined in a separate file
    with:
      deploy_branch: ${{ github.ref_name }}  # Pass the branch name to the CD workflow
    secrets:
      # Deployment secrets for DEV environment
      SERVER_SSH_KEY_DEV: ${{ secrets.SERVER_SSH_KEY_DEV }}        # SSH private key for accessing the Dev server
      ENV_VARS_DEV_CD:     ${{ secrets.ENV_VARS_DEV_CD }}          # .env content for container deployment in Dev
      # Deployment secrets for QA environment
      SERVER_SSH_KEY_QA:  ${{ secrets.SERVER_SSH_KEY_QA }}         # SSH private key for accessing the QA server
      ENV_VARS_QA_CD:     ${{ secrets.ENV_VARS_QA_CD }}            # .env content for container deployment in QA
      # Deployment secrets for MAIN environment
      SERVER_SSH_KEY_MAIN: ${{ secrets.SERVER_SSH_KEY_MAIN }}      # SSH private key for accessing the Production server
      ENV_VARS_MAIN_CD:    ${{ secrets.ENV_VARS_MAIN_CD }}         # .env content for container deployment in Production